:root {
  background-color: #c3b5dc;
  --main-margin: 36px 96px;
  --max-width: 1440px;
  --mark-color: #ba8ae6;
  --light-color: #c3b5dc;
  --dark-color: #5d397f;
}

body {
  font-family: "Comfortaa";
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: darkslategrey;
}

header {
  background-color: var(--mark-color);
  min-height: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_container_outer {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--main-margin);
}

.header_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.filter_separator {
  padding: 0 12px 0 12px;
  cursor: default;
}

.filter {
  cursor: pointer;
  transition: all 100ms;
}

.filter:hover {
  scale: 1.1;
  font-weight: bold;
  color: var(--dark-color);
}

.filter_active {
  font-weight: bold;
  color: var(--dark-color);
}

/* Main Section */
main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

#book_card_container {
  margin: var(--main-margin);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: var(--max-width);
  gap: 36px;
}

.book_card {
  width: 500px;
  background-color: var(--mark-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

h2 {
  margin: 16px;
  overflow-wrap: break-word;
}

.book_card_headline {
  display: flex;
  position: relative;
  align-items: center;
  height: 136px;
}

.book_card_headline::before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 5%;
  bottom: 0;
  width: 90%;
  border-bottom: 3px solid var(--dark-color);
}

.book_card_headline > img {
  width: 72px;
  height: 84px;
  margin: 16px;
}

.price_and_likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;
}

.price_and_likes > p {
  font-weight: bold;
  font-size: 1.2em;
}

.likes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 86px;
}

.book_infos {
  position: relative;
  margin: 16px 16px 0 16px;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  gap: 24px;
  padding-bottom: 16px;
  border-bottom: 3px solid var(--dark-color);
}

.book_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3 {
  margin-bottom: 8px;
}

.comments_container_outer {
  margin: 16px;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  gap: 8px;
}

.comments_container_outer > h3 {
  margin: 0;
}

.comments_container {
  display: flex;
  height: 156px;
  overflow-y: auto;
  flex-direction: column;
  gap: 12px;
  margin: 8px 0 12px 0;
  background-color: var(--light-color);
  border-radius: 8px;
  padding: 12px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.comments_input_container {
  display: flex;
}

.user {
  font-weight: bold;
  display: flex;
  gap: 12px;
}

.comment_input {
  border-radius: 6px;
  flex-grow: 1;
  font-family: Comfortaa;
  padding: 8px;
  border-color: var(--dark-color);
}

button {
  border-color: var(--dark-color);
  border-radius: 6px;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 200ms;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  scale: 1.05;
}

button > img {
  width: 24px;
}

@media (max-width: 1250px) {
  :root {
    --main-margin: 36px;
  }
}

@media (max-width: 1150px) {
  #book_card_container {
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .book_card {
    width: 400px;
  }
}

/* Footer */
footer {
  width: 100%;
  min-height: 56px;
  background-color: var(--mark-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_container {
  display: flex;
  justify-content: center;
}
