.header_container > img {
  height: 36px;
  width: 36px;
}

.heart_icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart_icon > img {
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: all 200ms;
}

.heart_icon > img:hover {
    scale: 1.05;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--light-color); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkslategrey; 
}